/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Merriweather', 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

.container{
    margin: 30px 80px 0 80px;
}

/* Shared Styles */
.primary-color{
    color: #F00;
}
.primary-btn{
    background-color: #f00; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Inter;
    font-size: 16px;
    cursor: pointer;
}

/* Hero Image */
.banner{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../Resources/Images/Banner\ Image.png');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 100px;
}
.greeting{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.greeting h4 {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.greeting h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

/* Holiday Discount Styles */
.holiday-discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.discount-text h2{
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}
.discount-text p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.discount-text h3{
    font-family: Inter;
    color: #070211;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px;
}
.new-year-img{
    width: 750px;
    height: 450px;
    margin-bottom: 120px;
}

/* Party Section */
.party-banner{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../Resources/Images/Vectorrr.png');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    border-radius: 16px;
    margin-bottom: 100px;
}
.party-greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px 100px;
}
.party-yr-img img{
    width: 300px;
height: 400px;
}
.party-greeting h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 83px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 15px;
}
.party-greeting p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    margin-bottom: 15px;
}